[environments]
  [environments.development]
    name = "gh-deck"
    namespace = "default"
    wait = false
    watch = false
    watch-delay = 2
    auto-connect = false
    set=[
      "currentDir=/path/to/gh-deck"
      "githubClientId=xxxxxxxx",
      "githubClientSecret=xxxxxxxxxxxxxxx",
      "console.enabled=true",
      "webpackDevServer.enabled=true",
      "relayCompiler.enabled=true",
      "postgres.enabled=true",
    ]
